<p>empdetail works!</p>

<!-- <pre>{{empData | json}}</pre> -->
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{empData.name}}</li>
                  <li class="list-group-item">{{empData.email}}</li>
                  <li class="list-group-item">{{empData.department}}</li>
                  <li class="list-group-item">{{empData.phone}}</li>
                  <li class="list-group-item">{{empData.salary}}</li>


                </ul>
              </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
